# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
report.*.json

# Tests
coverage/

# Dependency directories
node_modules/

# Build output
dist/
build/
src/server/static
src/cli/lib

# macOS
.DS_Store
.vscode

# Manage build
src/manage/lib

# Ansible
deployment/ansible/roles/azavea.*

# Terraform
.terraform
.terraform/
*.tfplan
*.tfstate
*.tfstate.backup
*.tfvars
.idea/

# Vagrant
.vagrant/

.env

# Lambda
*.zip
*.out
deployment/terraform/lambda-functions/alert_to_slack/src/*
!deployment/terraform/lambda-functions/alert_to_slack/src/alert_to_slack.py