html, body {
  height: 100%;
}

#root {
  height: 100%;
}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.App-logo {
  padding: 1em;
}

.App-header {
  background-color: #282c34;
  min-height: 30vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.App main {
  flex: auto;
}
